<p id="notice"><%= notice %></p>

<h1>Listing Transactions</h1>

<table>
  <thead>
    <tr>
      <th>Processed on</th>
      <th>Transaction Description</th>
      <th>Debit</th>
      <th>Credit</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @transactions.each do |transaction| %>
      <tr>
        <td style="padding:0 15px 0 15px;"><%= transaction.processed_on %></td>
        <td style="padding:0 15px 0 15px;"><%= transaction.transaction_description %></td>
        <td style="color:red" "padding:0 10px 0 10px;"><%= transaction.debit %></td>
        <td style="padding:0 10px 0 10px;"><%= transaction.credit %></td>
        <td><%= link_to 'Show', transaction %></td>
        <td><%= link_to 'Edit', edit_transaction_path(transaction) %></td>
        <td><%= link_to 'Destroy', transaction, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<h2>Total: <%= @total %></h2>

<br>

<h2 style="color:red"><%= @scolding %></h2>

<%= link_to 'New Transaction', new_transaction_path %>
