<p id="notice"><%= notice %></p>

<p>
  <strong>Processed on:</strong>
  <%= @transaction.processed_on %>
</p>

<p>
  <strong>Debit:</strong>
  <%= @transaction.debit %>
</p>

<p>
  <strong>Credit:</strong>
  <%= @transaction.credit %>
</p>

<%= link_to 'Edit', edit_transaction_path(@transaction) %> |
<%= link_to 'Back', transactions_path %>
